
.bai2{
    display: flex;
    justify-content: center;

}
.name2 {
    font-size: 25px;
    color: red;
}
.bai2-text {
    color:blueviolet;
}
.bai2-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #C7C8CC;
    padding: 10px;
}   
.bai2-form-container{
display: grid;
grid-template-columns: 200px 200px;
row-gap: 10px;
column-gap: 10px;
}
.bai2-textarea{
    margin-top: 10px;
    width: 100%;
    height: 100px;
}
.bai2-input{
    padding: 5px;
    border: none;
}
.btn-bai2{
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: #40A2E3;
    border: none;
    color: white;
}
.line{
    background-color: red;
    height: 1px;
    width: 100%;
}
